@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://rsms.me/inter/inter-ui.css");
@supports (display: grid) {
  .grid {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }

@supports (display: grid) {
  * {
    grid-column: aside;
    grid-column-end: sidebar-end; }
  @media (min-width: 60em) {
    * {
      grid-column: content; } } }

@supports (display: grid) {
  @media (min-width: 60em) {
    .pull-left {
      grid-column: sidebar;
      height: 0;
      margin-top: 0; } } }

@supports (display: grid) {
  @media (min-width: 60em) {
    .pull-right {
      display: block;
      grid-column: sidebar;
      height: 0;
      margin-top: 0; } } }

@supports (display: grid) {
  @media (min-width: 60em) {
    .push-right {
      display: block;
      grid-column: content;
      grid-column-end: sidebar-end;
      margin-left: 0;
      margin-right: 0; } } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-1deg); }
  50% {
    transform: rotate(3deg); }
  70% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0deg); } }

@media (min-width: 60em) {
  .row-1 {
    grid-row: 1; } }

.mt {
  margin-top: 4.2rem; }

.mb {
  margin-bottom: 4.2rem; }

.my {
  margin-top: 4.2rem;
  margin-bottom: 4.2rem; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  /* 1 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  background-color: #fff;
  color: #212121;
  box-sizing: border-box;
  padding: 0.5em;
  font-weight: 300;
  min-height: 100vh;
  overflow-x: hidden;
  border-top: 5px solid #848ACC; }
  @media (min-width: 60em) {
    html {
      border-top: 0;
      box-shadow: inset .5em .5em 0 #efefef, inset -.5em -.5em 0 #efefef; } }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-weight: 400;
  padding-top: 2.1rem; }

.skip-link {
  background-color: #fff;
  position: absolute;
  top: 0;
  margin: 0 auto;
  text-align: center;
  list-style: outside none;
  position: absolute;
  left: -99999px;
  display: inline-block;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
  .skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    top: 2em;
    padding: 1em;
    outline: 5px solid #848ACC;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 10px 10px #848ACC;
    z-index: 999; }

@supports (display: grid) {
  hr {
    grid-column: content; } }

html {
  font-size: 1em; }
  @media (min-width: 60em) {
    html {
      font-size: 1.3em; } }

body {
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  font-size: 1.5rem;
  color: #212121;
  margin-top: 1.5em; }

h1, .h1, .post-title {
  font-size: 2.2rem; }

h2, .h2, .p-title {
  font-size: 1.2rem; }

.main-content p, .main-content ol, .main-content ul {
  max-width: 30em;
  font-size: 1.3rem; }

.main-content p, .main-content ul, .main-content ol, .main-content dt, .main-content li {
  font-family: Athelas, Georgia, "Times New Roman", Times, serif; }

ul, ol {
  padding: 0; }

article li {
  margin-left: 2rem;
  margin-bottom: 0.7rem; }

ul li {
  margin: 0; }

li + li {
  margin-top: 1.05rem; }

ol {
  list-style: none;
  padding-left: 1em; }
  ol li {
    counter-increment: item; }
  ol li:before {
    font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.6em;
    margin-right: 1rem;
    content: counter(item);
    border-radius: 100%;
    background-color: #F2F2F4;
    color: #666;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: -3rem;
    margin-top: 0.2em; }

strong {
  font-weight: 600; }

code {
  max-width: 100%;
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  background-color: #F2F2F4;
  white-space: pre-wrap;
  font-size: .75em;
  border-left: 3px solid #848ACC;
  padding: 0.7rem;
  hyphens: none;
  font-family: "Source Code Pro", monospace;
  display: block; }

p code, ul code {
  background-color: #F2F2F4;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle; }

blockquote {
  border-left: 1px solid #ddd;
  margin: 0.7rem 2.1rem;
  padding: 0.7rem 2.1rem; }

hr {
  width: 100%;
  border: 1px solid #ddd;
  margin: 2.1rem auto; }

::selection {
  background-color: #848ACC;
  color: #fff;
  text-decoration: underline; }
  ::selection a {
    color: red; }

sup {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 600; }

.main {
  width: 100%; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 40em;
  padding: 0.7rem; }
  @supports (display: grid) {
    .container {
      padding: 0;
      max-width: none; } }

@supports (display: grid) {
  .content {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(1em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

img, svg {
  vertical-align: top;
  height: auto;
  max-width: 100%; }

figure {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 2.1rem 0;
  max-width: 100%; }
  @media (min-width: 60em) {
    figure {
      grid-column: content; } }
  figure img {
    width: 100%;
    height: auto;
    align-self: baseline;
    margin: 0 auto; }
    figure img:nth-last-of-type(2):first-child {
      width: 50%;
      padding: 2%; }
      figure img:nth-last-of-type(2):first-child + img {
        width: 50%;
        padding: 2%; }
  figure.pull-right img {
    width: 100%; }
  figure.pull-left img:nth-last-of-type(2):first-child {
    width: 100%;
    padding: 2%;
    margin-bottom: 2.1rem; }
    figure.pull-left img:nth-last-of-type(2):first-child + img {
      width: 100%;
      padding: 2%; }

@supports (display: grid) {
  @media (min-width: 60em) {
    .feature-img {
      grid-column: content;
      margin-bottom: 2.1rem; } } }

@supports (display: grid) {
  .side {
    align-items: flex-start;
    grid-column: sidebar;
    height: 0; } }

figcaption {
  color: #666;
  font-size: 0.8rem;
  outline: 0;
  margin-top: 1.05rem;
  width: 100%;
  padding: 0 0.525rem; }

figure .img-grid img {
  width: 30%;
  margin: 0;
  padding: 1em; }

@supports (display: grid) {
  figure .img-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    figure .img-grid img {
      max-width: 100%;
      width: 100%;
      padding: 1em;
      grid-column: auto;
      align-self: center; } }

.phone {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.15);
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  float: none; }
  .phone img {
    background-color: transparent;
    border-radius: 40px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    transform: translate(-10px, -10px);
    width: 400px;
    padding: 0;
    flex-grow: 0;
    margin: 0 auto;
    z-index: 2;
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
    transition-delay: 0.3s;
    max-width: 100%; }
  .phone__hover {
    display: none; }
  .phone figcaption {
    margin-top: 4.2rem;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
  @media (min-width: 60em) {
    .phone {
      transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
      cursor: help;
      position: relative;
      transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-3em, 0) translateZ(0);
      z-index: 3;
      grid-column: 1 / -1 !important;
      animation: .7s phone-out;
      -webkit-backface-visibility: hidden;
      display: block;
      width: 400px;
      margin: 0 auto;
      z-index: 3; }
      .phone img {
        background-color: transparent;
        border-radius: 40px;
        border: 5px solid rgba(255, 255, 255, 0.2);
        transform: translate(-10px, -10px);
        width: 400px;
        padding: 0;
        flex-grow: 0;
        margin: 0 auto;
        z-index: 2;
        transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
        transition-delay: 0.3s; }
      .phone__hover {
        position: absolute;
        bottom: -9em;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 50%;
        z-index: -1;
        pointer-events: none;
        transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
        transition-delay: .4s;
        display: block; }
        .phone__hover:before {
          content: '↑';
          display: block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          border-radius: 2em;
          margin: .5em auto; }
      .phone:hover {
        transform: scale(1) rotate(0deg) skewX(0deg) translate(0, 0) translateZ(0);
        box-shadow: 1em 1.5em 7em rgba(0, 0, 0, 0.15);
        animation: 0.7s phone-in ease; }
        .phone:hover .phone__hover {
          bottom: 2em;
          transition-delay: 0s; }
        .phone:hover img {
          transform: translate(0px, 0px);
          transition-delay: 0s; }
        .phone:hover figcaption {
          left: -75%;
          transform: scale(1);
          transition-delay: .5s; } }

@keyframes pulse {
  0% {
    background-color: rgba(242, 223, 13, 0.2); }
  50% {
    background-color: rgba(242, 223, 13, 0.4); }
  100% {
    background-color: rgba(242, 223, 13, 0.2); } }

@keyframes phone-in {
  0% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-3em, 0) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.15); }
  30% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-2.5em, 0em) translateZ(0);
    box-shadow: 0.2em 0.5em 2em rgba(0, 0, 0, 0.15); }
  70% {
    transform: scale(1) rotate(-1.25deg) skewX(0deg) translate(0, -0.2em) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.15); }
  100% {
    transform: scale(1) rotate(0deg) skewX(0deg) translate(0, 0) translateZ(0);
    box-shadow: 1em 1.5em 7em rgba(0, 0, 0, 0.15); } }

@keyframes phone-out {
  100% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-3em, 0) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.15); }
  70% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-2.5em, 0em) translateZ(0);
    box-shadow: 0.2em 0.5em 2em rgba(0, 0, 0, 0.15); }
  30% {
    transform: scale(1) rotate(-1.25deg) skewX(0deg) translate(0, -0.2em) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.15); }
  0% {
    transform: scale(1) rotate(0deg) skewX(0deg) translate(0, 0) translateZ(0);
    box-shadow: 1em 1.5em 7em rgba(0, 0, 0, 0.15); } }

.figure--full {
  max-width: none;
  width: 100%;
  clear: both; }
  @supports (display: grid) {
    @supports (display: grid) {
      .figure--full {
        width: 100%;
        grid-column: 1 / -1 !important;
        display: grid;
        grid-gap: 0 2%;
        grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }
    .figure--full img {
      width: 100%;
      background-color: #F2F2F4;
      grid-column: content; }
      @media (min-width: 30em) {
        .figure--full img {
          grid-column-start: content;
          grid-column-end: sidebar-end; } }
    @media (min-width: 30em) {
      .figure--full figcaption {
        grid-column: aside;
        grid-row: 1;
        margin: 0;
        padding: 1.05rem 0.7rem;
        align-self: flex-start;
        border-top: 1px solid #ddd;
        text-align: left; } } }

table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%; }

table tr + tr {
  border-top: 1px solid #ccc; }

table td + td {
  border-left: 1px solid #ccc; }

table td {
  padding: 0.4em;
  text-align: center;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -o-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

table th {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 95%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  line-height: 1.05; }

.main-content {
  grid-row: 2; }
  @supports (display: grid) {
    .main-content {
      width: 100%;
      grid-column: 1 / -1 !important;
      display: grid;
      grid-gap: 0 2%;
      grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }
  .main-content > :first-child {
    margin-top: 0; }

@supports (display: grid) {
  .post-header {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }

.role {
  margin-bottom: 0.7rem; }
  @media (min-width: 60em) {
    @supports (display: grid) {
      .role {
        grid-column: aside;
        grid-row-start: 2;
        height: 0; } } }
  .role__title {
    margin: 0 0 0.7rem 0;
    font-size: 1rem; }
    .role__title:after {
      color: #848ACC;
      content: '';
      font-size: 1rem;
      display: block;
      width: 4rem;
      height: 0.5rem;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url(/img/squiggle.svg);
      margin-top: 1.05rem; }
  .role__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .role__list-item {
    margin-right: 0.7rem;
    display: inline-block;
    color: #666;
    font-size: 0.8rem;
    margin-right: 0.7rem; }
    @media (min-width: 60em) {
      .role__list-item {
        margin: 0 0 0.5em 0;
        display: block; }
        @supports (display: grid) {
          .role__list-item {
            margin-right: 0;
            display: block; } } }

.post-title {
  margin-top: 0;
  margin-top: 0; }

.section-heading {
  margin-top: 0;
  margin-bottom: 2.1rem;
  text-indent: -0.1em; }
  .section-heading:after {
    color: #848ACC;
    content: '';
    font-size: 1rem;
    display: block;
    width: 4rem;
    height: 0.5rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(/img/squiggle.svg);
    margin-top: 1.05rem; }

.article__body {
  position: relative; }
  @supports (display: grid) {
    .article__body {
      width: 100%;
      grid-column: 1 / -1 !important;
      display: grid;
      grid-gap: 0 2%;
      grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }
  .article__body > :first-child {
    margin-top: 0; }

.article__title {
  margin: 0;
  font-weight: 600;
  margin-bottom: 0.3em;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: #848ACC; }

.article__link {
  color: #212121;
  position: relative;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }

.article__summary {
  color: #212121;
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 0;
  line-height: 1.2; }

.article__meta {
  color: #666;
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 0; }

.article__date {
  color: #666;
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.article--preview {
  backface-visibility: hidden;
  transform-style: preserve-3d; }
  .article--preview a {
    transition: transform all .3s;
    text-decoration: none;
    display: block;
    box-shadow: 0.5em 0.5em 0 #fff, -0.5em -0.5em 0 #fff, -0.5em 0.5em 0 #fff, 0.5em -0.5em 0 #fff, 0 0 #848ACC;
    box-shadow: 10px 10px 0 #fff, -10px -10px 0 #fff, 10px -10px 0 #fff, -10px 10px 0 #fff, 11px 11px 0 #fff, -11px -11px 0 #fff, 11px -11px 0 #fff, -11px 11px 0 #fff, 0 0 #848ACC; }
    .article--preview a .article__title {
      transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
    .article--preview a:hover {
      background-color: #fff;
      transform: translateY(-2px) translate3d(0, 0, 0) translateZ(0);
      box-shadow: 0 0 0 0.5em #F2F2F4;
      box-shadow: 10px 10px 0 #fff, -10px -10px 0 #fff, 10px -10px 0 #fff, -10px 10px 0 #fff, 11px 11px 0 #ddd, -11px -11px 0 #ddd, 11px -11px 0 #ddd, -11px 11px 0 #ddd, 20px 20px #848ACC;
      color: inherit; }
      .article--preview a:hover .article__title {
        color: #848ACC;
        text-decoration: underline; }
      .article--preview a:hover .tags li:before {
        color: #848ACC; }
    .article--preview a:active {
      border: none;
      outline: none; }
  .article--preview + .article--preview {
    margin-top: 2.1rem; }

.main-content aside {
  border-top: 1px solid #ddd;
  color: #666;
  margin-top: 2.1rem;
  padding-top: 0.7rem;
  font-size: 0.8rem; }
  .main-content aside p {
    font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.8rem; }
  @media (min-width: 80em) {
    .main-content aside {
      position: absolute;
      width: 12rem;
      left: -14rem;
      text-align: right; }
      @supports (display: grid) {
        .main-content aside {
          position: static;
          width: auto;
          height: 0;
          left: initial;
          grid-column: aside;
          text-align: left; } } }

.tags {
  margin-top: 0.7rem;
  margin-bottom: 0;
  padding: 0; }
  .tags__item {
    color: #666;
    display: inline-block;
    margin: 0;
    margin-right: 0.5em;
    font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.8rem; }
    .tags__item:before {
      content: '✓';
      display: inline-block;
      margin-right: 0.3em;
      color: #ddd;
      font-weight: 300; }

.disclaimer {
  display: block;
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  padding: 1em;
  background-color: #F2F2F4;
  border-radius: .3em;
  margin: 2.1rem auto;
  grid-column: content; }

.responsibilities {
  display: inline-block;
  letter-spacing: .02em; }

@keyframes footnote {
  0% {
    background-color: rgba(242, 223, 13, 0); }
  20% {
    background-color: rgba(242, 223, 13, 0.5); }
  50% {
    background-color: rgba(242, 223, 13, 0.5); }
  100% {
    background-color: rgba(242, 223, 13, 0); } }

.footnotes {
  grid-column: content; }
  .footnotes ol {
    font-size: 1rem;
    max-width: none; }
  .footnotes li {
    font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: .3em;
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
    .footnotes li:target {
      animation: footnote 4s;
      /*background-color: hsla(55,90,50,.5);*/ }

.footnote-ref a {
  text-decoration: none;
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.5rem;
  color: #fff;
  background-color: #848ACC;
  border-radius: 2em;
  height: 0.7rem;
  width: 0.7rem;
  display: inline-block;
  text-align: center;
  line-height: 0.7rem;
  font-weight: 400;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  /*&:before {
			content:'[';
		}
		&:after {
			content:']';
		}*/ }
  .footnote-ref a:visited {
    color: #fff; }
  .footnote-ref a:hover {
    background-color: rgba(242, 223, 13, 0.5);
    color: #666; }

@supports (display: grid) {
  .p-article {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }

.footnote-return {
  text-decoration: none;
  color: #666; }

@supports (display: grid) {
  footer {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [aside] repeat(2, minmax(1em, 4.5em)) [aside-end content] repeat(7, minmax(1em, 4.5em)) [content-end sidebar] repeat(3, minmax(1em, 4.5em)) [sidebar-end] minmax(0.5em, 4fr) [edge-end]; } }

note {
  position: absolute;
  right: -45%;
  top: 0;
  max-width: 8em;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  color: #666;
  margin: 0; }
  note:before {
    content: "* ";
    float: left;
    margin-left: -1em;
    width: 1em; }

a {
  color: #848ACC;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
  @supports (text-decoration-color: blue) {
    a {
      color: #212121;
      text-decoration: underline;
      text-decoration-color: #848ACC; } }
  a:hover {
    color: #848ACC; }
  a:visited {
    color: #848ACC; }
    @supports (text-decoration-color: blue) {
      a:visited {
        color: #212121;
        text-decoration: underline;
        text-decoration-color: #848ACC; } }
    a:visited:hover {
      color: #848ACC; }

.p-title {
  line-height: 1;
  margin: 0;
  margin-top: 2.1rem; }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .p-title {
        grid-column: content; } } }
  .p-title a {
    display: inline-block;
    padding-bottom: 0.7rem;
    border-bottom: 3px solid #848ACC; }

.p-title__link {
  color: #212121; }

.l-header {
  margin-bottom: 2.1rem; }

.logo {
  margin: 0; }
  .logo:hover .logo-stroke, .logo:hover .logo-stroke--linecap {
    stroke: #848ACC; }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .logo {
        grid-column: 2 / span 1; } } }
  .logo svg {
    width: 1.75em;
    height: auto;
    padding-bottom: 1em; }

.logo-stroke {
  fill: none;
  stroke: #212121;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10; }

.logo-stroke--linecap {
  fill: none;
  stroke: #212121;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.colophon {
  position: absolute;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0; }

.intro {
  margin-bottom: 2.1rem; }
  .intro p {
    font-size: 1rem; }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .intro {
        grid-column: 2 / span 3; } } }
  .intro__title {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 2.1rem; }
    .intro__title:after {
      color: #848ACC;
      content: '';
      font-size: 1rem;
      display: block;
      width: 4rem;
      height: 0.5rem;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url(/img/squiggle.svg);
      margin-top: 1.05rem; }

.pages {
  margin-bottom: 4em; }
  @media (min-width: 60em) {
    @supports (display: grid) {
      .pages {
        grid-column: 6 / span 3; }
        .pages + .pages {
          grid-column: 10 / span 3; } } }

@media (min-width: 60em) {
  @supports (display: grid) {
    .toggle-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: .5em .5%; } } }

.toggle {
  padding: 0.7rem;
  font-size: 1em; }
  .toggle:hover {
    cursor: s-resize;
    background-color: #F2F2F4;
    /*		& + .toggle-content {
			display: block;
		}*/ }
  @supports (display: grid) {
    .toggle {
      grid-row: 1; } }

.toggle-content {
  display: none;
  margin: 0;
  padding: 1em; }
  @media (min-width: 60em) {
    .toggle-content {
      background-color: #eee; }
      @supports (display: grid) {
        .toggle-content {
          grid-column: 1 / -1; } } }

.is-toggled + .toggle-content {
  display: block !important; }

.is-toggled:hover {
  cursor: n-resize; }

button {
  background-color: #848ACC;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 0.7rem 2.1rem;
  border: 0;
  font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  button:hover {
    cursor: pointer;
    background-color: #6068bd;
    color: #fff; }

.contact-form {
  margin-bottom: 4.2rem; }
  .contact-form input, .contact-form label, .contact-form textarea {
    display: block;
    font-family: "avenir next", avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
    .contact-form input:focus, .contact-form label:focus, .contact-form textarea:focus {
      outline: 3px solid #848ACC; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 2.1rem;
    border: 1px solid #ddd;
    color: #666;
    position: relative; }
  .contact-form textarea {
    min-height: 10em;
    max-height: 50vh;
    max-width: 100%; }
  .contact-form label {
    font-weight: 400;
    margin: 2.1rem 0 0.7rem; }
