@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@import url("https://rsms.me/inter/inter-ui.css");
@supports (display: grid) {
  @media (min-width: 60em) {
    .pull-left {
      display: block;
      grid-column: sidebar-left / span 3 !important;
      height: 0;
      margin-top: 0; } } }

@supports (display: grid) {
  @media (min-width: 60em) {
    .pull-right {
      display: block;
      grid-column: sidebar-right / span 3 !important;
      height: 0;
      margin-top: 0; } } }

@supports (display: grid) {
  @media (min-width: 60em) {
    .push-right {
      display: block;
      grid-column: content / span 9 !important;
      margin-left: 0;
      margin-right: 0; }
      .push-right figcaption {
        text-align: left; } } }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(-1deg); }
  50% {
    transform: rotate(3deg); }
  70% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0deg); } }

@media (min-width: 60em) {
  .row-1 {
    grid-row: 1; } }

.mb {
  margin-bottom: 4.2em; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  /* 1 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  background-color: #fff;
  color: #212121;
  box-sizing: border-box;
  padding: .5em;
  font-weight: 300;
  min-height: 100vh;
  overflow-x: hidden;
  border-top: 5px solid blue; }
  @media (min-width: 60em) {
    html {
      border-top: 0;
      box-shadow: inset .5em .5em 0 #efefef, inset -.5em -.5em 0 #efefef; } }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff; }

.skip-link {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  list-style: outside none;
  position: absolute;
  left: -99999px; }
  .skip-link:focus {
    left: 0; }

@supports (display: grid) {
  hr {
    grid-column: 1/-1; } }

html {
  font-size: 1em;
  font-size: calc(1em + .5vw); }
  @media (min-width: 30em) {
    html {
      font-size: calc(1em + .5vw); } }
  @media (min-width: 60em) {
    html {
      font-size: 1.25em; } }

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 1.5em;
  line-height: 1.1;
  font-size: 1em;
  color: #212121; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0; }

h1, .h1, .post-title, .intro__title {
  font-size: 1.5em;
  font-weight: 600; }
  @media (min-width: 80em) {
    h1, .h1, .post-title, .intro__title {
      font-size: 2em; } }

h2, .h2, .c-article__title, .p-title {
  font-weight: 600;
  font-size: 1.2em; }

h3, .h3 {
  font-size: 1.1em;
  font-weight: 600; }

h4 {
  font-weight: 600; }

p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-weight: 400; }

.main-content p, .main-content li, .main-content dt {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em; }

ul, ol {
  margin-bottom: 1em;
  padding: 0; }

strong {
  font-weight: 700; }

article li {
  margin-left: 2rem;
  margin-bottom: 0.7em; }

ul li {
  margin: 0; }

li + li {
  margin-top: 1.05em; }

ol {
  list-style: none;
  padding-left: 1em; }
  ol li {
    counter-increment: item; }
  ol li:before {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.7em;
    margin-right: 1rem;
    content: counter(item);
    border-radius: 100%;
    background-color: #F2F2F4;
    color: #666;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    display: inline-block;
    float: left;
    margin-left: -3rem;
    margin-top: 0.08em; }

pre {
  /*&:hover {
		overflow: visible;
	}*/ }

code {
  max-width: 100%;
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  background-color: #F2F2F4;
  white-space: pre-wrap;
  font-size: .75em;
  border-left: 3px solid #ddd;
  padding: 0.7em;
  hyphens: none;
  font-family: "Source Code Pro", monospace;
  display: block; }

p code, ul code {
  background-color: #F2F2F4;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle; }

blockquote {
  border-left: 3px solid #0594cb;
  margin: 0.7em 2.1em;
  padding: 0.7em 2.1em; }

blockquote p {
  display: inline; }

.c-title a {
  text-decoration: none; }

hr {
  width: 100%;
  border: .5px solid #ddd;
  margin: 2.1em auto; }

::selection {
  background-color: blue;
  color: #fff; }

sup {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 600; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 30em;
  padding: 0.7em; }
  @supports (display: grid) {
    .container {
      padding: 0;
      max-width: none; } }

@supports (display: grid) {
  .content {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [sidebar-left] repeat(3, minmax(1em, 4.5em)) [content] repeat(6, minmax(1em, 4.5em)) [sidebar-right] repeat(3, minmax(1em, 4.5em)) minmax(0.5em, 1fr) [edge-end]; }
    .content > * {
      grid-column: 2 / 14; }
    @media (min-width: 60em) {
      .content {
        max-width: none; }
        .content > * {
          grid-column: content / span 6; } } }

.grid, .p-article__body {
  /*@include content-grid;
	& & {
		grid-column: 1/-1;
	}*/ }

.main {
  opacity: 1; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(1em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.grid {
  grid-column: 1 / -1 !important;
  column-width: 20em;
  column-gap: 2em; }
  .grid figcaption {
    display: none; }

@media (min-width: 60em) {
  @supports (display: grid) {
    .intro + .pages {
      grid-column: 6 / span 3; }
      .intro + .pages + .pages {
        grid-column: 10 / span 3; } } }

img, svg {
  vertical-align: top;
  height: auto;
  max-width: 100%; }

figure {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 2.1em 0;
  max-width: 100%; }
  @media (min-width: 60em) {
    figure {
      grid-column: content / span 6; } }
  figure img {
    width: 100%;
    height: auto;
    align-self: baseline;
    margin: 0 auto; }
    figure img:nth-last-of-type(2):first-child {
      width: 50%;
      padding: 2%; }
      figure img:nth-last-of-type(2):first-child + img {
        width: 50%;
        padding: 2%; }
  figure.pull-right img {
    width: 100%; }
  figure.pull-right figcaption {
    text-align: center; }
  figure.pull-left figcaption {
    text-align: center; }
  figure.pull-left img:nth-last-of-type(2):first-child {
    width: 100%;
    padding: 2%;
    margin-bottom: 2.1em; }
    figure.pull-left img:nth-last-of-type(2):first-child + img {
      width: 100%;
      padding: 2%; }

figcaption {
  font-size: 0.8em;
  outline: 0;
  text-align: center;
  margin-top: 2.1em;
  width: 100%;
  padding: 0 0.7em; }

.img-grid img {
  display: inline-block;
  width: 30%;
  margin: 0;
  padding: 1em; }

@supports (display: grid) {
  .img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .img-grid img {
      max-width: 100%;
      width: 65%;
      padding: 1em;
      min-width: 1em; } }

.phone {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 100%;
  margin: 0 auto; }
  .phone img {
    background-color: transparent;
    border-radius: 40px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    transform: translate(-10px, -10px);
    width: 400px;
    padding: 0;
    flex-grow: 0;
    margin: 0 auto;
    z-index: 2;
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
    transition-delay: 0.3s;
    max-width: 100%; }
  .phone__hover {
    display: none; }
  .phone figcaption {
    margin-top: 4.2em;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
  @media (min-width: 60em) {
    .phone {
      transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
      cursor: help;
      position: relative;
      transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-3em, 0) translateZ(0);
      z-index: 3;
      grid-column: 1 / -1 !important;
      animation: .7s phone-out;
      -webkit-backface-visibility: hidden;
      display: block;
      width: 400px;
      margin: 0 auto;
      z-index: 3; }
      .phone img {
        background-color: transparent;
        border-radius: 40px;
        border: 5px solid rgba(255, 255, 255, 0.2);
        transform: translate(-10px, -10px);
        width: 400px;
        padding: 0;
        flex-grow: 0;
        margin: 0 auto;
        z-index: 2;
        transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
        transition-delay: 0.3s; }
      .phone__hover {
        position: absolute;
        bottom: -9em;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 50%;
        z-index: -1;
        pointer-events: none;
        transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
        transition-delay: .4s;
        display: block; }
        .phone__hover:before {
          content: '↑';
          display: block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          border-radius: 2em;
          margin: .5em auto; }
      .phone:hover {
        transform: scale(1) rotate(0deg) skewX(0deg) translate(0, 0) translateZ(0);
        box-shadow: 1em 1.5em 4em rgba(0, 0, 0, 0.2);
        animation: 0.7s phone-in ease; }
        .phone:hover .phone__hover {
          bottom: 2em;
          transition-delay: 0s; }
        .phone:hover img {
          transform: translate(0px, 0px);
          transition-delay: 0s; }
        .phone:hover figcaption {
          left: -100%;
          transform: scale(1);
          transition-delay: .5s; } }

@keyframes pulse {
  0% {
    background-color: rgba(242, 223, 13, 0.2); }
  50% {
    background-color: rgba(242, 223, 13, 0.4); }
  100% {
    background-color: rgba(242, 223, 13, 0.2); } }

@keyframes phone-in {
  0% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-3em, 0) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.2); }
  30% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-2.5em, 0em) translateZ(0);
    box-shadow: 0.2em 0.5em 2em rgba(0, 0, 0, 0.2); }
  70% {
    transform: scale(1) rotate(-1.25deg) skewX(0deg) translate(0, -0.2em) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.2); }
  100% {
    transform: scale(1) rotate(0deg) skewX(0deg) translate(0, 0) translateZ(0);
    box-shadow: 1em 1.5em 4em rgba(0, 0, 0, 0.2); } }

@keyframes phone-out {
  100% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-3em, 0) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.2); }
  70% {
    transform: scale(0.625) rotate(30deg) skewX(-30deg) translate(-2.5em, 0em) translateZ(0);
    box-shadow: 0.2em 0.5em 2em rgba(0, 0, 0, 0.2); }
  30% {
    transform: scale(1) rotate(-1.25deg) skewX(0deg) translate(0, -0.2em) translateZ(0);
    box-shadow: 0.5em 1em 3em rgba(0, 0, 0, 0.2); }
  0% {
    transform: scale(1) rotate(0deg) skewX(0deg) translate(0, 0) translateZ(0);
    box-shadow: 1em 1.5em 4em rgba(0, 0, 0, 0.2); } }

@supports (display: grid) {
  .figure--full {
    margin: 4.2em 0; }
    @supports (display: grid) {
      .figure--full {
        width: 100%;
        grid-column: 1 / -1 !important;
        display: grid;
        grid-gap: 0 2%;
        grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [sidebar-left] repeat(3, minmax(1em, 4.5em)) [content] repeat(6, minmax(1em, 4.5em)) [sidebar-right] repeat(3, minmax(1em, 4.5em)) minmax(0.5em, 1fr) [edge-end]; }
        .figure--full > * {
          grid-column: 2 / 14; }
        @media (min-width: 60em) {
          .figure--full {
            max-width: none; }
            .figure--full > * {
              grid-column: content / span 6; } } }
    .figure--full img {
      width: 100%;
      background-color: #F2F2F4; }
      @media (min-width: 30em) {
        .figure--full img {
          grid-column: 2 / span 10; } }
    @media (min-width: 30em) {
      .figure--full figcaption {
        grid-column: 12 / span 2;
        margin: 0;
        padding: 1.05em 0.7em;
        align-self: flex-start;
        border-top: 1px solid #ddd;
        text-align: left; } } }

table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%; }

table tr + tr {
  border-top: 1px solid #ccc; }

table td + td {
  border-left: 1px solid #ccc; }

table td {
  padding: 0.4em;
  text-align: center;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -o-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

table th {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 95%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  line-height: 1.05; }

.p-article__body header {
  /*@include clearfix;*/ }

.main-content {
  grid-row: 2; }
  @supports (display: grid) {
    .main-content {
      width: 100%;
      grid-column: 1 / -1 !important;
      display: grid;
      grid-gap: 0 2%;
      grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [sidebar-left] repeat(3, minmax(1em, 4.5em)) [content] repeat(6, minmax(1em, 4.5em)) [sidebar-right] repeat(3, minmax(1em, 4.5em)) minmax(0.5em, 1fr) [edge-end]; }
      .main-content > * {
        grid-column: 2 / 14; }
      @media (min-width: 60em) {
        .main-content {
          max-width: none; }
          .main-content > * {
            grid-column: content / span 6; } } }
  .main-content > :first-child {
    margin-top: 0; }

.post-title {
  margin-top: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-top: 0; }
  .post-title:after {
    content: '';
    font-size: 1rem;
    display: block;
    width: 3rem;
    height: 3px;
    background-color: blue;
    margin-top: 1.05em; }

.section-heading {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2.1em;
  text-indent: -0.1em;
  /*
	@include md {
		@include grid {
			grid-column: 2 / span 3;
			margin-top: 0;
			text-align: right;
		}
	}*/ }
  .section-heading:after {
    content: '';
    font-size: 1rem;
    display: block;
    width: 3rem;
    height: 3px;
    background-color: blue;
    margin-top: 1.05em; }

.pages {
  margin-bottom: 4em; }

.pages--sm .c-article {
  display: inline-block;
  width: 7em; }

.pages--sm h2 {
  font-size: 1em; }

@supports (display: grid) {
  .p-article {
    width: 100%;
    grid-column: 1 / -1 !important;
    display: grid;
    grid-gap: 0 2%;
    grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [sidebar-left] repeat(3, minmax(1em, 4.5em)) [content] repeat(6, minmax(1em, 4.5em)) [sidebar-right] repeat(3, minmax(1em, 4.5em)) minmax(0.5em, 1fr) [edge-end]; }
    .p-article > * {
      grid-column: 2 / 14; }
    @media (min-width: 60em) {
      .p-article {
        max-width: none; }
        .p-article > * {
          grid-column: content / span 6; } } }

.c-title {
  font-weight: 700;
  font-size: 1em; }

.p-list-article a {
  transition: transform all .3s;
  text-decoration: none;
  display: block;
  box-shadow: 0.5em 0.5em 0 #fff, -0.5em -0.5em 0 #fff, -0.5em 0.5em 0 #fff, 0.5em -0.5em 0 #fff, 0 0 blue;
  box-shadow: 10px 10px 0 #fff, -10px -10px 0 #fff, 10px -10px 0 #fff, -10px 10px 0 #fff, 11px 11px 0 #fff, -11px -11px 0 #fff, 11px -11px 0 #fff, -11px 11px 0 #fff, 0 0 blue; }
  .p-list-article a .c-title {
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
  .p-list-article a:hover {
    background-color: #fff;
    transform: translateY(-0.05em);
    box-shadow: 0 0 0 0.5em #F2F2F4;
    box-shadow: 10px 10px 0 #fff, -10px -10px 0 #fff, 10px -10px 0 #fff, -10px 10px 0 #fff, 11px 11px 0 #ddd, -11px -11px 0 #ddd, 11px -11px 0 #ddd, -11px 11px 0 #ddd, 20px 20px blue;
    color: inherit; }
    .p-list-article a:hover .c-title {
      color: blue; }
      @supports (text-decoration-color: blue) {
        .p-list-article a:hover .c-title {
          color: inherit;
          text-decoration: underline;
          text-decoration-color: blue; } }
    .p-list-article a:hover .tags li:before {
      color: blue; }
  .p-list-article a:active {
    border: none;
    outline: none; }

.p-list-article + .p-list-article {
  margin-top: 2.1em; }

.summary {
  font-size: 0.8em;
  margin: 0; }

.c-article__title {
  margin: 0;
  font-weight: 600;
  margin-bottom: 0.3em; }

.c-article__title a {
  color: #212121;
  position: relative;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }

.c-article__meta, .c-time {
  font-size: 0.8em;
  margin: 0;
  display: inline-block;
  font-style: normal;
  color: #666; }
  .p-article__body .c-article__meta, .p-article__body .c-time {
    margin-bottom: 1rem; }

.p-article__body {
  position: relative; }
  @supports (display: grid) {
    .p-article__body {
      width: 100%;
      grid-column: 1 / -1 !important;
      display: grid;
      grid-gap: 0 2%;
      grid-template-columns: [edge-begin] minmax(0.5em, 1fr) [sidebar-left] repeat(3, minmax(1em, 4.5em)) [content] repeat(6, minmax(1em, 4.5em)) [sidebar-right] repeat(3, minmax(1em, 4.5em)) minmax(0.5em, 1fr) [edge-end]; }
      .p-article__body > * {
        grid-column: 2 / 14; }
      @media (min-width: 60em) {
        .p-article__body {
          max-width: none; }
          .p-article__body > * {
            grid-column: content / span 6; } } }
  .p-article__body > :first-child {
    margin-top: 0; }

.main-content aside {
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  color: #555;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0.5em;
  font-style: italic;
  padding-top: 1.05em; }
  @media (min-width: 80em) {
    .main-content aside {
      position: absolute;
      width: 12rem;
      left: -14rem;
      text-align: right; }
      @supports (display: grid) {
        .main-content aside {
          position: static;
          width: auto;
          height: 0;
          left: initial;
          margin-right: 2rem;
          grid-column: sidebar-left / span 3;
          text-align: right; } } }

.tags {
  padding: 0;
  margin-top: .5em;
  margin-bottom: 0; }
  .tags li {
    display: inline-block;
    /*background-color: #efefef;*/
    /*border-radius: .3em;*/
    margin: 0;
    margin-right: 0.5em;
    font-size: .75em;
    font-style: italic; }
    .tags li:before {
      content: '✓';
      display: inline-block;
      margin-right: 0.3em;
      color: #ddd; }

.disclaimer {
  display: block;
  font-size: .75em;
  padding: 1em;
  background-color: #F2F2F4;
  border-radius: .3em;
  margin: 2.1em auto; }

.responsibilities {
  display: inline-block;
  letter-spacing: .02em; }

@keyframes footnote {
  0% {
    background-color: rgba(242, 223, 13, 0); }
  20% {
    background-color: rgba(242, 223, 13, 0.5); }
  50% {
    background-color: rgba(242, 223, 13, 0.5); }
  100% {
    background-color: rgba(242, 223, 13, 0); } }

.footnotes {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  .footnotes li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.9em;
    border-radius: .3em;
    transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
    .footnotes li:target {
      animation: footnote 4s;
      /*background-color: hsla(55,90,50,.5);*/ }

.footnote-ref a {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.75em;
  color: #666;
  background-color: #F2F2F4;
  border-radius: 1em;
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  /*&:before {
			content:'[';
		}
		&:after {
			content:']';
		}*/ }
  .footnote-ref a:hover {
    background-color: rgba(242, 223, 13, 0.5);
    color: #666; }

.footnote-return {
  text-decoration: none;
  color: #666; }

footer {
  grid-column: content / span 6; }

p {
  position: relative; }

note {
  position: absolute;
  right: -45%;
  top: 0;
  max-width: 8em;
  display: block;
  font-size: 0.8em;
  font-style: italic;
  color: #666;
  margin: 0; }
  note:before {
    content: "* ";
    float: left;
    margin-left: -1em;
    width: 1em; }

a {
  color: #212121;
  text-decoration-color: #aaa;
  transition: 0.3s cubic-bezier(0.5, 0, 0.1, 1); }
  a:hover {
    color: blue; }
    @supports (text-decoration-color: blue) {
      a:hover {
        color: inherit;
        text-decoration-color: blue; } }

.main-content a {
  position: relative; }
  .main-content a:hover:after {
    color: blue; }

.p-title {
  line-height: 1;
  margin: 0;
  margin-top: 2.1em; }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .p-title {
        grid-column: sidebar; } } }
  .p-title a {
    display: inline-block;
    padding-bottom: 0.7em;
    border-bottom: 3px solid blue; }

.p-title__link {
  color: #212121; }

.l-header {
  margin-bottom: 2.1em; }

.logo {
  padding-bottom: 2.1em;
  margin: 0;
  margin-top: 2.1em; }
  .logo:after {
    content: '';
    font-size: 1rem;
    display: block;
    width: 3rem;
    height: 3px;
    background-color: blue;
    margin-top: 1.05em; }
  .logo:hover .logo-stroke, .logo:hover .logo-stroke--linecap {
    stroke: blue; }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .logo {
        grid-column: sidebar-left; } } }
  .logo svg {
    width: 1.75em;
    height: auto;
    padding-bottom: 1em; }

.logo-stroke {
  fill: none;
  stroke: #212121;
  stroke-width: 4;
  stroke-linecap: square;
  stroke-miterlimit: 10; }

.logo-stroke--linecap {
  fill: none;
  stroke: #212121;
  stroke-width: 4;
  stroke-miterlimit: 10; }

.colophon {
  position: absolute;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0; }

.intro {
  margin-bottom: 2em; }
  @supports (display: grid) {
    @media (min-width: 60em) {
      .intro {
        grid-column: sidebar-left / span 3; } } }
  .intro a:after {
    display: none !important; }
  .intro__title {
    margin-top: 0;
    font-weight: 400; }

@media (min-width: 60em) {
  @supports (display: grid) {
    .toggle-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: .5em .5%; } } }

.toggle {
  padding: 0.7em;
  font-size: 1em; }
  .toggle:hover {
    cursor: s-resize;
    background-color: #F2F2F4;
    /*		& + .toggle-content {
			display: block;
		}*/ }
  @supports (display: grid) {
    .toggle {
      grid-row: 1; } }

.toggle-content {
  display: none;
  margin: 0;
  padding: 1em; }
  @media (min-width: 60em) {
    .toggle-content {
      background-color: #eee; }
      @supports (display: grid) {
        .toggle-content {
          grid-column: 1 / -1; } } }

.is-toggled + .toggle-content {
  display: block !important; }

.is-toggled:hover {
  cursor: n-resize; }

button {
  background-color: #fff;
  display: inline-block;
  padding: .3em .5em;
  border: 1px solid #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  button:hover {
    cursor: pointer;
    background-color: blue;
    color: #fff;
    border: 1px solid blue; }

.contact-form input, .contact-form label, .contact-form textarea {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 2.1em;
  border: 1px solid #212121;
  color: blue;
  position: relative; }

.contact-form textarea {
  min-height: 10em;
  max-height: 50vh;
  max-width: 100%; }

.contact-form label {
  font-weight: 400;
  margin: 2.1em 0 0.7em; }
